@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.abc</title>
    </head>
    <body>
        @RenderBody()
        <br>
        top2.cshtml
    </body>
</html>
